<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Autenticação</title>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Autenticação</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          {% if request.user.is_authenticated %}
          <li>Olá, {{ request.user.username }}</li>
          <li><a href="{% url 'listar_usuario' %}">Listar Usuários</a></li>
          <li><a href="{% url 'perfil_usuario' %}">Editar Perfil</a></li>
          {% endif %}
            {% if request.user.is_staff %}
        <li>
            <a href="{% url 'registrar_usuario' %}">Registrar Usuário</a>
        </li>
            {% endif %}
        <li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'deslogar' %}">Logout</a></li>
            {% else %}
                <a href="{% url 'logar' %}">Login</a>
            {% endif %}
        </li>
      </ul>
    </div>
  </nav>
<div class="container">
    {% block content %}

    {% endblock %}
</div>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <script>
        $(document).ready(function() {
            $('select').material_select();
        });
      {% if messages %}
        {% for message in messages %}
             $(document).ready(function() {
                Materialize.toast('{{ message }}', 4000);
            });
        {% endfor %}
    {% endif %}

  </script>
</body>
</html>