{% extends 'base.html' %}

{% block content %}

<div class="col-lg-12">

<ul>
  {% for usuario in user.profile %}
  <li>Nome de usuario</li>
    <ul>{{ usuario.profile.nome }}</ul>
  {% endfor %}
<ul>

</div>
{% endblock content %}


