{% extends 'base.html'%}

{% block content %}
<form method="post">{% csrf_token %}
    <input type="text" name="nome" placeholder="Nome completo">
    <input type="email" name="email" placeholder="E-mail">
    <input type="password" name="password" placeholder="Senha">
    <input type="text" name="habilidades" placeholder="Habilidades">
    <input type="tel" name="telefone" placeholder="Telefone">
    <input type="text" name="curso" placeholder="Curso em andamento">
    <input type="number" name="periodo" placeholder="Periodo atual no curso">
    <input type="text" name="funcao" placeholder="Funcao">
    <input type="text" name="exper" placeholder="Experiencias anteriores">
    <input type="text" name="curreal" placeholder="Cursos realizados">
    <div class="input-field col s12">
        <select name="disponibilidade_usuario">
            <option value="" disabled selected>Escolha uma opção</option>
            <option value="disponivel">Disponivel</option>
            <option value="indisponivel">Indisponivel</option>
        </select>
        <label>Disponibilidade para contratação</label>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Atualizar
    </button>
</form>
{% endblock content %}